$purity-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07) !default;
$purity-tab-hover-background-color: $gray-100 !default;
$purity-collapsible-hover-background-color: $gray-100 !default;
$purity-nav-drawer-max-width: 285px !default;